<div class="login">
  <div class="login-container" [ngClass]="viewClass">
    <div class="title">
      <h1 class="title-text">Login</h1>
      <div class="title-navs">
        <button (click)="viewClass = 'collapsed'">−</button>
        <button (click)="viewClass = (viewClass !== 'default' ? 'default' : 'expanded')">⛶</button>
        <a routerLink="/auth/register">✕</a>
      </div>
    </div>

    <form class="login-form" [formGroup]="loginForm" (submit)="onSubmit(loginForm)">
      <app-auth-input
        [control]="loginForm.get('email')"
        name="email"
        type="email"
        label="User email"
        [error]="loginForm.get('email')?.errors?.email && 'Invalid email'"
      ></app-auth-input>

      <app-auth-input
        [control]="loginForm.get('password')"
        name="password"
        type="password"
        label="User password"
        [error]="loginForm.get('password')?.errors?.required && 'Is required'"
      ></app-auth-input>

      <div class="login-form--bottom">
        <a class="login-form--resetPass" routerLink="/auth/reset-password">Reset password</a>

        <button type="submit">Login</button>
      </div>
    </form>
  </div>

  <app-error-modal [error]="error"></app-error-modal>
</div>
