<div class="login">
  <div class="winBox md" [ngClass]="viewClass">
    <div class="winBox-top">
      <h1 class="winBox-top--title">Login</h1>
      <div class="winBox-top--navs">
        <button (click)="viewClass = 'collapsed'">−</button>
        <button (click)="viewClass = (viewClass !== 'default' ? 'default' : 'expanded')">⛶</button>
        <a routerLink="/auth/register">✕</a>
      </div>
    </div>

    <form class="winBox-body" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
      <app-auth-input
        [control]="loginForm.get('email')"
        name="email"
        type="email"
        label="User email"
        [error]="loginForm.get('email')?.errors?.email && 'Invalid email'"
      ></app-auth-input>

      <app-auth-input
        [control]="loginForm.get('password')"
        name="password"
        type="password"
        label="User password"
        [error]="loginForm.get('password')?.errors?.required && 'Is required'"
      ></app-auth-input>

      <div class="winBox-body--bottom">
        <a routerLink="/auth/reset-password">Reset password</a>

        <a routerLink="/auth/register">Sign In</a>

        <button type="submit">Login</button>
      </div>
    </form>
  </div>

  <app-error-modal [error]="error"></app-error-modal>
</div>
