.login {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .title {
    background-color: #fff;
    color: #000;
    width: 100%;
    position: relative;
    font-size: 18px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-text {
      margin: 0;
      padding: 0 10px;
      font-size: 100%;
    }

    &-navs {
      display: flex;
      align-items: center;
      justify-content: center;
      &>* {
        color: inherit;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: transparent;
        outline: none;
        border: none;
        box-shadow: none;
        height: 35px;
        width: 35px;
        font-size: 24px;
        transition: 150ms ease-in-out background-color;
        &:hover {
          cursor: pointer;
          background-color: #c2c2c2;
        }
        &:last-child:hover {
          background-color: red;
          color: #ffffff;
        }
      }
    }
  }

  &-container {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
    padding: 0 0 10px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &.collapsed {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0;
      margin: 0;
      .login-form, .login-noAccount {
        display: none;
      }
    }

    &.expanded {
      width: 100%;
      height: 100vh;
      justify-content: flex-start;
    }
  }

  &-form {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    &--bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      a, button {
        text-decoration: none;
        transition: 200ms ease-in-out background-color;
        border: 1px solid;
        margin: 0;
        display: block;
        background-color: #000;
        color: #ffffff;
        outline: none;
        font-size: 18px;
        text-align: center;
        padding: 5px 10px;
        &:hover {
          cursor: pointer;
          background-color: rgba(255,255,255,.2);
        }
      }
    }
  }
}
