.recorder {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  max-width: 90vw;
  height: auto;
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
  box-sizing: border-box;
  position: fixed;
  left: calc(50% - 200px);
  top: 20%;
  &-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg ,navy, #1084d0);
    padding: 3px 2px 3px 3px;
    min-height: 15px;
    margin-left: 1px;
    color: #ffffff;
    box-sizing: border-box;
    &--title {
      margin: 0;
      padding: 0 5px;
    }

    &--navs {
      color: #ffffff;
      box-sizing: border-box;
      a, button {
        border: none;
        outline: none;
        color: inherit;
        min-width: initial;
        font-size: 20px;
        &:active, &:focus {
          border: none;
          outline: none;
          padding: 0 12px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &-video {
    box-sizing: border-box;
    background-color: #000000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: calc(100% - 2px);
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
  }

  &-navs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    button, a {
      text-decoration: none;
      background: silver;
      box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
      box-sizing: border-box;
      border: none;
      border-radius: 0;
      min-width: 75px;
      min-height: 23px;
      padding: 0 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      &:hover {
        cursor: pointer;
      }

      &:disabled {
        opacity: .4 !important;
      }

      span {
        margin-right: 10px;
      }
    }
  }

  &-settings {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }

  &.collapsed {
    position: fixed;
    top: initial;
    left: 0;
    bottom: 0;
    .recorder-video, .recorder-navs, .recorder-settings {
      display: none;
    }
  }

  &.expanded {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    max-width: calc(100% - 20px);
    max-height: calc(100% - 20px);
  }

  .switch {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    input {
      opacity: 0;
      width: 0;
      height: 0;
      &:checked {
        &+.switch-slider {
          &:before {
            content: '⏺';
            left: calc(100% - 28px);
            background-color: navajowhite;
          }
        }
      }
    }

    &-slider {
      cursor: pointer;
      width: 50px;
      height: 30px;
      border-radius: 15px;
      margin: 0 5px;
      background-color: rgba(0,0,0,.2);
      position: relative;
      &:before {
        content: '📷';
        position: absolute;
        left: 2px;
        top: calc(50% - 13px);
        height: 26px;
        width: 26px;
        border-radius: 50%;
        background-color: green;
        transition: 300ms left ease-in-out;
        font-style: normal;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &-label {
      font-size: 14px;
      color: #000;
    }
  }

  .checkbox {
    display: flex;
    align-items: center;
    position: initial;
    &:hover {
      cursor: pointer;
    }

    input {
      opacity: 1;
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
  }
}
