.form-control {
  margin-bottom: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  color: inherit;
  p {
    margin: 0;
  }

  &-label {
    margin-right: 10px;
    color: inherit;
  }

  &-input {
    display: flex;
    align-items: center;
    color: inherit;
    //&:before {
    //  font-size: 18px;
    //  content: '|';
    //  margin-right: -2px;
    //  font-weight: bold;
    //  animation: changeColor 1.2s infinite ease;
    //}

    &.focused {
      &:before {
        display: none;
      }
    }

    &.invalid {
      input.ng-touched {
        color: red;
      }
    }

    input {
      outline: none;
      color: inherit;
      box-sizing: border-box;
      border: none;
      padding: 3px 4px;
      background-color: #fff;
      box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-text-fill-color: #000;
        -webkit-box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
      }
    }
  }

  &-error {
    color: red;
  }
}


@keyframes changeColor {
  0% {
    color: blue;
  }
  50% {
    color: transparent;
  }
  100% {
    color: blue;
  }
}
