<div class="window app-modal" style="margin: 32px; width: 250px">
  <div class="title-bar">
    <div class="title-bar-text">{{title}}</div>

    <div class="title-bar-controls">
      <!--      <button aria-label="Minimize">−</button>-->
      <!--      <button aria-label="Maximize">⛶</button>-->
      <button aria-label="Close" (click)="modalService.close(id)">✕</button>
    </div>
  </div>
  <div class="window-body">
    <section>
      <ng-content></ng-content>
    </section>
    <section class="field-row">
      <button *ngIf="isConfirmUsed" (click)="confirm.emit(id)">OK</button>
      <button (click)="modalService.close(id)">Cancel</button>
    </section>
  </div>
</div>
