/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.winBox {
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
  color: #000000;
  padding: 0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  @media screen and (max-width: 700px){
    min-width: initial;
  }

  &.collapsed {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    .winBox-body {
      display: none;
    }
  }

  &.expanded {
    width: 100%;
    max-width: initial !important;
    height: calc(100vh - 30px);
    display: flex;
    .winBox-body {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
    }
  }

  &.lg {
    max-width: 700px;
  }
  &.md {
    max-width: 500px;
  }
  &.sm {
    max-width: 400px;
  }
  &.xs {
    max-width: 200px;
  }

  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(90deg,navy,#1084d0);
    color: #fff;
    font-weight: 700;
    letter-spacing: 0;
    &--title {
      font-size: 18px;
      margin: 0 10px;
      word-break: break-word;
    }

    &--navs {
      display: flex;
      align-items: center;
      justify-content: center;
      &>* {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        outline: none;
        border: none;
        height: 20px;
        width: 20px;
        font-size: 16px;
        transition: 150ms ease-in-out background-color;
        color: #000000;
        background: silver;
        box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
        &:hover {
          cursor: pointer;
        }

        &:active {
          box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
        }

        &:last-child:hover {
          background-color: red;
          color: #ffffff;
        }
      }
    }
  }

  &-body {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;

    &--bottom {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      a, button {
        box-sizing: border-box;
        text-decoration: none;
        transition: 200ms ease-in-out background-color;
        border: none;
        margin: 0 10px;
        display: block;
        outline: none;
        font-size: 1rem;
        text-align: center;
        padding: 5px 10px;
        color: inherit;
        background: silver;
        box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
        &:hover {
          cursor: pointer;
        }

        &:active {
          box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
        }
      }
    }
  }
}
